div
  img(src="#" alt="twitter") 
  h2 misawa chizuru
  div
    p front-end developer @ BASE, Inc.
  div
    ul
      li HTML/CSS
      li Sass
      li JavaScript
      li jQuery
      li responsive design
      li drip coffee brewing
    ul
      li atom
      li github
      li gulp
      li sketch
      