header
  h1
  nav
    ul
      li
        a(href="#about") about
      li
        a(href="#skills") skills
      li
        a(href="#works") works
      li
        a(href="#contact") contact
      li
        a(href="#") 
          img(src="#" alt="twitter") 
      li
        a(href="#") 
          img(src="#" alt="facebook")